.main {
	padding: 50px 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 1.5;
}

.card-size {
	width: 300px;
	height: 200px;
	padding-top: 20px;
}

.card-media {
	width: 100px;
	height: 100px;
}

.slider-section {
	width: 90%;
	padding: 20px 0;
}

.mode-card {
	width: 90%;
	padding-top: 20px;
}

.MuiInputBase-inputMarginDense {
	text-align: center
}

.MuiCard-root {
	text-align: -webkit-center;
}

.loader-position {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}